/* realisation de l'en-tete */


html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
   
}

/* L'en tete du projet booki */

.logo{
    margin-right: auto;
    padding: 0 2rem 0 2rem;
    width: 100px;
    height: 80px;
} 
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav a{
    font-weight: bold;
    padding: 2rem;
    text-decoration: none;
}

nav a:hover{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}
/* fin de realisation de l'en-tete */

/* barre de recherche */

.recherche
{
    display: flex;
    padding-bottom: 2rem;
}
.icon-map
{
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 10px 0 0 10px;
}
.recherche input
{
    padding-right: 3rem;
    border: 1px solid lightgrey;
}
.recherche input:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color:rgba(177, 151, 130, 0.61);
}
.recherche button
{
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    border: 1px solid #0065fc;
}
.recherche button:hover{
    background-color: rgb(177, 142, 89);
    cursor: pointer; 
}
/* fin de barre de recherche */

/* réalisation des filtres et icons */

.filtres-liste{
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
.filtres-liste h3
{
    position: relative;
    top: 10px;
}

.texte-icon:hover{
    background-color: rgb(65, 105, 225);
    transform: scale(1.05);
}

.texte-icon{
    display: flex;
    border: 1px solid royalblue;
    border-radius: 2rem;
    align-items: center;
    transition: all 150ms ease;
}

.texte-icon i{
    background-color: royalblue;
    padding: 1rem;
    border-radius: 50%;
    margin: -0.5px;
}

.texte-icon span{
    font-weight: bold;
    padding: -3rem;
}
span
{
    padding-left: 1rem;
}

.icon-plus{
    display: flex;
    margin-top: 3rem;
}

.icon-plus i{
    margin-right: 1rem;
}
/* fin de realisation des filtres et icons */

/* partie de l'hébergements à marseille */

.marseille-populaires{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin: 47px;
}

h4{
    margin-left: 50px;
}

.Marseille{
    display: block;
    background-color: rgb(199, 199, 183);
    border-radius: 20px;
    padding-top: -50px;

}

.Marseille img{
    border-radius: 20px;
}

.Marseille_1{
    display: flex;
}

.Marseille_1 figure:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.mar1{
    background-color: white;
    border-radius: 20px;
    padding: 05px 05px;
}
.mar2, .mar1{
    box-shadow: rgb(212, 195, 195) 3px 6px 0.8px;
}

.Marseille_2{
    display: flex;
}

.Marseille_2 img{
    border-radius: 20px 20px 0px 0px;
} 

.Marseille_2 figure:hover{
    cursor: pointer;
    transform: scale(1.02);
}

h3{
    padding-left: 25px;
    padding-bottom: 25px;
}

h3 :hover{
    cursor: pointer;
    transform: scale(1.05);
}
.stars{
    color: blue;
}
.stars .lightstar{
color: grey;
}

h5 , p , i{
    padding-left: 25px;
}

/* partie les plus populaires */
.populaires{
    background-color: rgb(199, 199, 183);
    display: block;
    border-radius: 20px;
    margin-left: 10px;
}

.populaires figure:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.populaires img{
    border-radius: 20px 0px 0px 20px;
}

.populaires .mar1 {
    display: flex;
}
.populaires i{
    margin-top: 100px;
}

span{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 1rem;
}

/* deuxieme partie activités de marseille */
/* section des activités de Marseille */

.activite-marseille {
    display: flex;
    width: auto;
    border-radius: 20px;
    justify-content: space-between;
}

.activite-marseille img{
    border-radius: 20px 20px 0px 0px;
}

.fort-iles{
    display: block;
}

.activite-marseille figure:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.primo, .secondo{
    display: flex;
    margin: 18px;
    margin-inline: 0.5em;
}

.mar2{
    background-color: white;
    border-radius: 20px;
    margin-block: 25px;
    padding-left: 05px;
    padding-top: 05px;
    padding-bottom: 05px;
    padding-right: 05px;
}

h6{
    padding-bottom: 25px;
    padding-left: 25px;
}

h4{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
}

/* le pied de la page */
footer{
    margin: 47px;
    width: auto;
}
.pied-page{
    background-color: rgb(211, 211, 176);
    display: flex;
    justify-content: space-evenly;
    font-size: smaller;
    padding: 1rem;
    padding-top: -15%;
    margin-top: 5%;
    border-radius: 15px;
}
/* ligne de fixation de taille d'images */

.image1{
    width: 300px;
    height: 280px;
}
.image2{
    width: 200px;
    height: 260px;
}
.image3{
    width: 350px;
    height: 500px;
}
.image4{
    width: 350px;
    height: 200px;
}

@media all and (min-width: 1351px) and (max-width: 1510px) {
    /* mon code css pour la version desktop */
    .marseille-populaires{
        flex-direction: column;
        background: none;
        gap: 2em;
    }
    h4{
        margin-top: -2em;
        margin-bottom: -4em;
    }
    .activite-marseille{
        display: flex;
        flex-direction: column;
    }
    .primo figure .mar2 img{
        align-items: center;
        width: 100%;
    }
    .secondo{
        margin-top: -3em;
        margin-left: 4em;
    }
    .secondo figure .mar2 img{
        align-items: center;
        width: 100%;
    }
    .populaires figure .mar1 img{
        width: 65%;
    }
}
@media all and (min-width: 941px) and (max-width: 1350px){
    /* mon code css pour la version tablette */
    .Marseille{
        flex-direction: column;
        background: none;
        margin-top: -5em;
    }
    h4{
        margin-top: -4em;
    }
    .Marseille, .Marseille_1 {
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
    }
    .Marseille_1 figure .mar1 img{
        border-radius: 20px 20px 0 0;
    }
    .Marseille, .Marseille_2 {
        display: flex;
        flex-direction: column;  
    }
    .populaires{
        background: none;
    }
    .populaires figure .mar1 img{
        width: 60%;
    }
    figure .mar1 img{
        width: 100%;
        height: -10%;

    }
    .activite-marseille{
        display: block;
    }
    .primo, .secondo{
        display: flex;
        margin-top: -4em;
        width: 100%;
    }
    .primo figure .mar2 img{
        align-items: center;
        width: 100%;
    }
    .secondo{
        margin: -1.6em;
    }
    .secondo figure .mar2 img{
        align-items: center;
        width: 100%;
    }
}
@media all and (min-width: 641px) and (max-width: 940px){
    .secondo{
        flex-direction: column;
    }
    .primo{
        flex-direction: column;
    }
}
@media all and (min-width: 280px) and (max-width: 640px){
    /* mon code css pour la version mobile */
    .Marseille{
        background: none;
        width: 100%;
        margin-top: 3em;
    }
    .marseille-populaires{
        flex-direction: column;
    }
    .Marseille_1{
        flex-direction: column;
        margin-top: -3em;
    }
    .Marseille_1 figure .mar1{
        width: 150%;
        margin-left: -4em;
    }
    figure .mar1 img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .Marseille_2{
        flex-direction: column;
    }
    .Marseille_2 figure .mar1{
        width: 150%;
        margin-left: -4em;
    }
    .populaires{
        background: none;
        margin-top: -7em;
    }
    .populaires figure .mar1{
        display: flex;
        flex-direction: column;
        width: 150%;
        margin-left: -4em;
    }
    .populaires figure .mar1 img{
        width: 100%;
    }
    .populaires .stars{
        display: flex;
        margin-left: -18px;
        margin-top: -6em;
        margin-bottom: 1em;
    }
    .activite-marseille{
        display: flex;
        flex-direction: column;
    }
    figure .mar2 img{
        width: 100%;
    }
    .primo{
        margin-top: 2em;
    }
    .secondo{
        margin: -1.1em;
    }
    h4{
        margin-top: -5em;
    }
    form .recherche input{
        padding-right: 0%;  
      }
    .pied-page{
        background: none;
        width: 100%;
        margin-left: -2em;
    }
}